<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </head>
    {# Start Top Navigation Bar #}
    {% block topnav %}
        <nav id="top-bar" class="navbar navbar-top navbar-expand-sm navbar-dark flex-row">

        </nav>
    {% endblock %}
    {# End Top Navigation Bar #}
    {# Side Navigation Bar #}
    <nav class="navbar navbar-side navbar-expand-sm navbar-dark flex-column">
        <h1 style="color:white">BFS Intranet</h1>
        <ul class="nav  flex-column">
            <li class="nav-item btn btn-dark">
                <a href="{{ path('app_shipping') }}">
                    Shipping</a>
            </li>
            <li class="nav-item btn btn-dark">
                <a href="{{ path('app_receiving') }}">
                    Receiving</a>
            </li>
            <li class="nav-item btn btn-dark">
                <a href="{{ path('app_security') }}">
                    Security</a>
            </li>
            <li class="nav-item btn btn-dark">
                <a href="#">
                    Sanitation</a>
            </li>
            <li class="nav-item btn btn-dark">
                <a href="#">
                    Maintenance</a>
            </li>
            <li class="nav-item btn btn-dark">
                <a href="{{ path('app_customer_service') }}">
                    Customer Service</a>
            </li>
            <li class="nav-item btn btn-dark">
                <a href="#">
                    Christopher Fissler</a>
            </li>
        </ul>
    </nav>
    {# End Side Navigation Bar #}
    <body>
    {# Body Block #}
    {% block body %}
    {% endblock %}
    {# End Body Block #}
    </body>

</html>
