{% extends 'sqf/receiving.html.twig' %}

{% block title %}Inbound Freight Log{% endblock %}

{% block body %}
    <div style="visibility: hidden">
        <span>hidden</span>
    </div>

{#    <div class="buffer button_div">#}
{#        <form>#}
{#            <ul>#}
{#                <li>#}
{#                    <div class="form-group">#}
{#                        <input class="standard_size" type="date">#}
{#                    </div>#}
{#                </li>#}
{#                <li>#}
{#                    <div class="form-group">#}
{#                        <select class="form-control standard_size" >#}
{#                            <option>Day</option>#}
{#                            <option>Week</option>#}
{#                            <option>Month</option>#}
{#                            <option>Quarter</option>#}
{#                            <option>Year</option>#}
{#                            <option>Custom...</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="https://sqf.brownfoodservice.loc/Reports/printIbVisitorLog" class="btn btn-dark button_dark standard_size">Print</a>#}
{#                </li>#}
{#            </ul>#}
{#        </form>#}
{#    </div>#}

    {#    <div class="card buffer" style="width: 250px">#}
    {#        {% for inboundfreight in inboundfreights %}#}
    {#        <div class="card-body" style="align-content: center">#}
    {#            <h5 class="card-title">{{ inboundfreight.getCarrier }}</h5>#}
    {#            <p class="card-text">Date: {{ inboundfreight.getCheckStamp }}</p>#}
    {#            <p class="card-text">Name: {{ inboundfreight.getVisitorName }}</p>#}
    {#            <p class="card-text">Phone Number: {{ inboundfreight.getDriverPhone }}</p>#}
    {#            <p class="card-text">License Plate: {{ inboundfreight.getTrailerPlate }}</p>#}
    {#            <a href="#" class="btn btn-dark button_dark" >Check Out</a>#}
    {#        </div>#}
    {#        {% endfor %}#}
    {#    </div>#}

    <div class="container" style="margin-top: 50px; margin-left: 275px">
        <div class="d-flex flex-wrap">
            {% for inboundfreight in inboundfreights %}
                <div class="card" style="align-content: center; margin: 15px; padding: 15px;">
                    <h5 class="card-title">{{ inboundfreight.getCarrier }}</h5>
                    <p class="card-text">Date: {{ inboundfreight.getCheckStamp }}</p>
                    <p class="card-text">Name: {{ inboundfreight.getVisitorName }}</p>
                    <p class="card-text">Phone Number: {{ inboundfreight.getDriverPhone }}</p>
                    <p class="card-text">License Plate: {{ inboundfreight.getTrailerPlate }}</p>
                    <a href="#" class="btn btn-dark button_dark" >Check Out</a>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
