{% extends 'sqf/shipping.html.twig' %}

{% block title %}Shipping Log{% endblock %}

{% block body %}
    <div style="visibility: hidden; margin-bottom: 45px"><span>Gimmlet</span></div>
    {#Header Containing Date/Time Selector Print Report Button#}
    <div class="button-header">
        <form>
            <ul style="list-style: none">
                <li>
                    <div class="form-group">
                        <input class="standard_size" type="date">
                    </div>
                </li>
                <li style="width: 140px">
                    <div class="form-group">
                        <select class="form-control standard_size" >
                            <option>Day</option>
                            <option>Week</option>
                            <option>Month</option>
                            <option>Quarter</option>
                            <option>Year</option>
                            <option>Custom...</option>
                        </select>
                    </div>
                </li>
                <li>
                    <a href="https://sqf.brownfoodservice.loc/Reports/printShippingLog" class="btn btn-lg btn-primary" target="_blank">Print</a>
                </li>
            </ul>
        </form>
    </div>
    {#Table Listing Shipping Logs#}
    <table style="margin-left: 280px; margin-right: 50px" class="table table-dark table-bordered table-striped">
        <thead>
        <tr>
            <th>Run:</th>
            <th>Truck:</th>
            <th>Trailer:</th>
            <th>Door:</th>
            <th>Equipment:</th>
            <th>Samples:</th>
            <th>Straps:</th>
            <th>Pallet Jack:</th>
            <th>3rd Evap:</th>
            <th>Blanket Cooler:</th>
            <th>Time Loaded:</th>
            <th>Loader:</th>
            <th>Frozen Reading:</th>
            <th>Refrigerated Reading:</th>
            <th>Trailer Condition:</th>
        </tr>
        </thead>

        <tbody>
        {% for shippinglog in shippinglogs %}
            <tr>
                <td>{{ shippinglog.getRoute }}</td>
                <td>{{ shippinglog.getTruck }}</td>
                <td>{{ shippinglog.getTrailer }}</td>
                <td>{{ shippinglog.getDock }}</td>
                <td>{{ shippinglog.getEquipQty }}</td>
                <td>{{ shippinglog.getSampleQty }}</td>
                <td>{{ shippinglog.getStrapsQty }}</td>
                <td>{{ shippinglog.getPalletJackId }}</td>
                <td>{{ shippinglog.getThirdEvap }}</td>
                <td>{{ shippinglog.getBlanketCooler }}</td>
                <td>{{ shippinglog.getTimeLoaded|date('H:i')}}</td>
                <td>{{ shippinglog.getLoader }}</td>
                <td>{{ shippinglog.getZone1Temp }}</td>
                <td>{{ shippinglog.getZone2Temp }}</td>
                <td>
                    {% if shippinglog.getTrailerCondition == 1 %}
                        Acceptable
                    {% endif %}
                    {% if shippinglog.getTrailerCondition != 1%}
                        Not Acceptable
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}